<a href='invalid-url' disabled></a>
<input value="something">

<SomeComponent @arg="value" />
<SomeComponent @arg=1 />
<SomeComponent @arg=foo />
<SomeComponent @arg={{foo}} @bar={{property}} />
<SomeComponent @arg={{foo}} @bar={{fn myAction}} />
